<!doctype html>
<html lang="<%= current_page.data.lang %>">
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Loic Ginoux - Full Stack Developer - Ruby on Rails & Javascript" %></title>

    <meta name="description" content="<%= current_page.data.description || 'Freelance full stack web engineer specialized in Ruby on Rails and Javascript.'%>" />
    <meta name="keywords" content="<%= current_page.data.keywords || 'Profesional Freelance web engineer, Ruby on Rails developer, Javascript Developer, web aplication developer, web project management, web contractor'%>" />
    <meta name="viewport" content="width=device-width">

    <link rel="apple-touch-icon" sizes="57x57" href="images/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/icons/favicon-16x16.png">
    <link rel="manifest" href="images/icons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="images/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,600,700" rel="stylesheet" />

    <link rel="alternate" hreflang="fr" href="https://www.loicginoux.com/fr"/>
    <link rel="alternate" hreflang="en" href="https://www.loicginoux.com/"/>

    <!-- Google Analytics -->
    <!-- Google Analytics -->
    <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-40468900-1', 'auto');
    ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
    <!-- End Google Analytics -->

    <%= stylesheet_link_tag "style" %>

    <script src="/javascripts/header.js">{preset:'legacy',prefix:'/stylesheets/style',breakpoints:{'desktop':{grid:{gutters:4}}}}</script>
    <!--[if lte IE 9]><link rel="stylesheet" href="styles/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="styles/ie8.css" /><![endif]-->
    <!--[if lte IE 7]><link rel="stylesheet" href="styles/ie7.css" /><![endif]-->

  </head>
  <body class="<%= page_classes %>">
    <%= yield %>
    <%= partial "footer" %>
    <%= javascript_include_tag  "all" %>
  </body>
</html>
