= wrap_layout :layout do
  %header.main-header.post-head{cover}
    %nav.main-nav.clearfix{class: cover? ? 'overlay' : nil}
      - if blog_settings.logo.present?
        %a.blog-logo{href: home_path}
          = image_tag blog_settings.logo, alt: blog_settings.name
      - if blog_settings.navigation
        %a.menu-button.icon-menu{href: '#'}
          %span.word Menu

  %main.content{role: :main}
    %article.post
      %header.post-header
        %h1.post-title= current_article.title
        %section.post-meta
          %time.post-date{datetime: current_article.date.strftime('%Y-%m-%d')}
            = current_article.date.strftime(blog_settings.date_format)
          - if tags?
            on #{tags}

      %section.post-content= yield

      %footer.post-footer
        - if gravatar?
          %figure.author-image
            %a.img{href: author_path, style: "background-image: url(#{gravatar})"}
              %span.hidden #{blog_author.name}'s Picture
        %section.author
          %h4
            %a{href: author_path}= blog_author.name

          %p
          - if blog_author.bio.present?
            = blog_author.bio
          - else
            Read
            %a{href: author_path} more posts
            by this author.

          - if blog_author.location.present? || blog_author.website.present?
            .author-meta
              - if blog_author.location.present?
                %span.author-location.icon-location= blog_author.location
              - if blog_author.website.present?
                %span.author-link.icon-link
                  %a{href: blog_author.website}= blog_author.website

        %section.share
          %h4 Share this post
          %a.icon-twitter{href: twitter_url, onclick: "window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"}
            %span.hidden Twitter
          %a.icon-facebook{href: facebook_url, onclick: "window.open(this.href, 'facebook-share','width=580,height=296');return false;"}
            %span.hidden Facebook
          %a.icon-google-plus{href: google_plus_url, onclick: "window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"}
            %span.hidden Google+

      %footer.post-footer
        / Begin MailChimp Signup Form
        %link{:href => "//cdn-images.mailchimp.com/embedcode/classic-10_7.css", :rel => "stylesheet", :type => "text/css"}/
        :css
          #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
          /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
             We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        #mc_embed_signup
          %form#mc-embedded-subscribe-form.validate{:action => "//loicginoux.us15.list-manage.com/subscribe/post?u=270519289f2e54d58f21f3554&id=ae7f2f76e2", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
            #mc_embed_signup_scroll
              %h2 Recevez d'autres astuces via la newsletter
              .indicates-required
                %span.asterisk *
                champs obligatoire
              .mc-field-group
                %label{:for => "mce-EMAIL"}
                  Addresse Email
                  %span.asterisk *
                %input#mce-EMAIL.required.email{:name => "EMAIL", :type => "email", :value => ""}/
              #mce-responses.clear
                #mce-error-response.response{:style => "display:none"}
                #mce-success-response.response{:style => "display:none"}
              / real people should not fill this in and expect good things - do not remove this or risk form bot signups
              %div{"aria-hidden" => "true", :style => "position: absolute; left: -5000px;"}
                %input{:name => "b_270519289f2e54d58f21f3554_ae7f2f76e2", :tabindex => "-1", :type => "text", :value => ""}/
              .clear
                %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "S'inscrire"}/
        %script{:src => "//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js", :type => "text/javascript"}
        :javascript
          (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
        / End mc_embed_signup

      %footer.post-footer
        %div#disqus_thread
          :javascript
              /* * * CONFIGURATION VARIABLES * * */
              var disqus_shortname = 'lginoux';

              /* * * DON'T EDIT BELOW THIS LINE * * */
              (function() {
                  var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                  dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                  (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
  %aside.read-next
    - if prev_article = current_article.previous_article
      - attributes = { href: prev_article.url }.merge(cover(prev_article))
      %a.read-next-story{attributes}
        %section.post
          %h2= prev_article.title
          %p #{read_next_summary(prev_article, 19)}&hellip;
    - if next_article = current_article.next_article
      - attributes = { href: next_article.url }.merge(cover(next_article))
      %a.read-next-story.prev{attributes}
        %section.post
          %h2= next_article.title
          %p #{read_next_summary(next_article, 19)}&hellip;
