<!-- Work -->
<div class="wrapper wrapper-style2">
  <article id="work">
    <div class="5grid 5grid-container">
      <div class="row">
        <div class="12u">
          <header>
            <h2>Connaissances techniques et rigueur pour des clients satisfaits.</h2>
          </header>
            <p>
              <span>Mon travail consiste à analyser les exigences et besoin du client et élaborer une solution technique en accord avec ses attentes et rendre une application fonctionnelle codée dans les règles de l'art. Travaillant en télétravail, je pense qu'une bonne communication est une des clés d'un projet professionnels réussi. Mes clients peuvent compter sur moi tout le long de la mission même en travaillant à plusieurs centaines de kilomètres de distance. Les clients éxigent d'un freelance disponibilité et sérieux, et ce sont les bases sur lesquels je fais un point d'honneur à respecter pour construire avec eux des relations à long terme.</span>
            </p>
            <p>
              <span>A mon sens, la meilleure façon d'avoir une application qui répond au besoin des clients est de travailler en s'inspirant des <a href="https://fr.wikipedia.org/wiki/M%C3%A9thode_agile">méthodes Agile</a> et <a href="https://fr.wikipedia.org/wiki/Lean">Lean</a>. Cela permet d'avoir un projet flexible, rapidement déployé et à moindre coût. En travaillant par itérations de 2 semaines à 1 mois, on décide ensemble, à chaque début d'itération, des fonctionnalités les plus importantes à implémenter et l'on travaille par cycle. Cela permet de créer la valeur de l'application rapidement, d'avoir des retours utilisateurs dès le départ et de pouvoir adapter et/ou changer de stratégie en cours de route.</span>
            </p>
            <p>
              <!-- <span>We can also work together in a <a href="#" class="more_trad">more traditional way.</a></span> -->
              <span>Si ce n'est pas ce que vous cherchez et que vous avez une idée claire de votre projet, nous pouvons aussi travailler de manière plus traditionnelle:</span>
            </p>
        </div>
      </div>

      <div class="row more_trad_explained">
        <% data.workflow.steps.each do |w| %>
          <div class="3u">
            <section class="box box-style1">
              <span class="icon featured-icon <%= w.icon %>"></span>
              <h3><%= w.title_fr %></h3>
              <p><%= w.desc_fr %></p>
            </section>
          </div>
        <% end %>
      </div>

      <div class="row">
        <div class="12u">
          <header>
            <h2>Vous n'êtes pas convaincu ?</h2>
            <% data.recommendations.each do |reco| %>
              <blockquote class="box" >
                <p>"<%= reco.said_fr %>"</p>
                <p><span class="name">— <%= reco.by %> </span></p>
              </blockquote>
            <% end %>
          </header>
        </div>
      </div>

    </div>
    <footer>
      <a href="#contact" class="button button-big">Contactez-moi !</a>
    </footer>
  </article>
</div>
