---
import FormattedDate from '@components/FormattedDate.astro';
import PostTags from '@components/blog/Tags.astro';

const { post } = Astro.props;
const { title, description, pubDate, category, snippet} = post.data;
const { Content } = await post.render();

---

<section class="relative z-10 pt-[150px] pb-[20px] mb-10 overflow-hidden">
  <article>
    <header>
      <div class="flex justify-start flex-col sm:flex-row max-w-3xl mx-auto mt-0 mb-2 px-4 sm:px-6 sm:items-center">
        <p>
          <div class="inline-block"><FormattedDate date={pubDate} /></div>
          {
            category && (
              <>
                {' '}
                ·{' '}
                <a class="capitalize hover:underline inline-block" href={`/blog/category/${category?.toLowerCase()}`}>
                  {category.replaceAll('-', ' ')}
                </a>
              </>
            )
          }
        </p>
      </div>
      <h1
        class="px-4 sm:px-6 max-w-3xl mx-auto text-4xl md:text-5xl font-bold leading-tighter tracking-tighter font-heading"
      >
        {title}
      </h1>
      <PostTags class="max-w-3xl mx-auto mt-4 mb-8 px-4 sm:px-6" tags={post.data.tags} />

      <p
        class="max-w-3xl mx-auto mt-4 mb-8 px-4 sm:px-6 text-xl md:text-2xl text-muted dark:text-slate-400 text-justify"
      >
        {snippet}
      </p>

      <div class="max-w-3xl mx-auto px-4 sm:px-6">
        <div class="border-t dark:border-slate-700" />
      </div>

    </header>
    <div
      class="mx-auto px-6 sm:px-6 max-w-3xl prose prose-md lg:prose-xl dark:prose-invert dark:prose-headings:text-slate-300 prose-headings:font-heading prose-headings:leading-tighter prose-headings:tracking-tighter prose-headings:font-bold prose-a:text-primary dark:prose-a:text-blue-400 prose-img:rounded-md prose-img:shadow-lg mt-8 prose-headings:scroll-mt-[80px]"
    >
      {Content ? <Content /> : <Fragment set:html={content || ''} />}
    </div>
    <div class="mx-auto px-6 sm:px-6 max-w-3xl mt-8 flex justify-between flex-col sm:flex-row">
      <PostTags tags={post.data.tags} class="mr-5 rtl:mr-0 rtl:ml-5" />
    </div>
  </article>
</section>