---
title: "Loic Ginoux - Freelance Full Stack Developer - Rails & Javascript"
description: "I am a freelance full stack web developer for hire with 9+ years experience specialized in Ruby on Rails applications and Javascript frameworks."
keywords: "Profesional Freelance web engineer, Ruby on Rails developer, Javascript Developer, web aplication developer, web project management, web contractor"
layout: index
lang: en
---

= partial "en/header"
= partial "en/home"
= partial "en/services"
= partial "en/portfolio"
= partial "en/work"
= partial "en/cv"
= partial "en/contact"

