---
title: "Loic Ginoux - Full Stack Developer - Ruby on Rails & Javascript"
description: "Freelance full stack web developer specialized in Ruby on Rails applications and Javascript frameworks."
keywords: "Profesional Freelance web engineer, Ruby on Rails developer, Javascript Developer, web aplication developer, web project management, web contractor"
---

= partial "en/header"
= partial "en/home"
= partial "en/portfolio"
= partial "en/work"
= partial "en/cv"
= partial "en/contact"

